/* VARIABLE DEFINITIONS AND IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --backround-width: 35vw;
}

/* GLOBALS, SOFT 'CSS RESET' OF PADDINGS/MAGINS */

body {
    margin: 0;
    padding: 0;
    display: flex;
}

img {
    max-height: 100vh;
    width: var(--backround-width);
    position: relative;
}


.card-body {
    position: absolute;
    width: var(--backround-width);
    padding: 10px 0;
    top: 120px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    color: white;
    font-size: 4rem;
    mix-blend-mode: color-burn;   /*makes the letters transparent, however the readability of 'TW gets worse due to a shadow in
    the background getting mixed into colours*/
}

.img-credit {
    position: absolute;
    width: var(--backround-width);
    text-align: center;
    font-size: 1rem;
    color: white;
    bottom: 30px;
}

/* TEXTS AND FORM */

.form-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

 .top-part, .formular, .bottom-part {
    max-width: 900px;
    text-align: left;
    font-family: 'Oswald';
    margin-left: 50px;
    
}

.top-part {
    font-size: 2rem;
}

input {
    height: 3rem;
    border-radius: 0.5rem;
    margin: 20px 20px 20px 0px;
    width: 14rem;
    font-family: 'Oswald';
    font-size: 1.3rem;
}


.bottom-part {
    font-size: 1.2rem;
}

.bottom-part a {
    text-decoration: none;
    color: #e48c3b;
}
.bottom-part a:hover {
    color: #a00707;
}

button {
    border-radius: 0.5rem;
    height: 3rem;
    width: 12rem;
    background-color: #e48c3b;
    border: #e48c3b;
    font-family: 'Oswald';
    font-size: 1.2rem;
    border: 2px solid black;
}

.formular span {
    font-size: 2rem;
}